<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="styles/styles.css"/>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
</head>
<body ng-controller="mainCtrl">
<div class="content">
    <table class="table table-stripped">
        <thead>
        <tr class="titles">
            <th ng-click="sort('id');">#
                <span ng-show="order.by == 'id'" class="fa"
                      ng-class="{'fa-caret-down': !order.desc, 'fa-caret-up': order.desc}"></span>
            </th>
            <th ng-click="sort('type');">Тип
                <span ng-show="order.by == 'type'" class="fa"
                      ng-class="{'fa-caret-down': !order.desc, 'fa-caret-up': order.desc}"></span>
            </th>
            <th ng-click="sort('category');">Категория
                <span ng-show="order.by == 'category'" class="fa"
                      ng-class="{'fa-caret-down': !order.desc, 'fa-caret-up': order.desc}"></span>
            </th>
            <th ng-click="sort('total');">Сумма
                <span ng-show="order.by == 'total'" class="fa"
                      ng-class="{'fa-caret-down': !order.desc, 'fa-caret-up': order.desc}"></span>
            </th>
            <th ng-click="sort('date');">Дата
                <span ng-show="order.by == 'date'" class="fa"
                      ng-class="{'fa-caret-down': !order.desc, 'fa-caret-up': order.desc}"></span>
            </th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th>
                <select ng-model="filters.category" class="form-control">
                    <option value="">Все</option>
                    <option ng-repeat="cat in categories | orderBy" value="{{cat}}">{{cat}}</option>
                </select>
            </th>
            <th></th>
            <th></th>
            <th><a href="#" class="btn btn-success" ng-click="add();"><i class="fa fa-plus"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in filtered_items = (items | filter:filters:(!!filters.category) | orderBy:order.by:order.desc)">
            <td>{{item.id}}</td>
            <td>{{item.type}}</td>
            <td>{{item.category}}</td>
            <td>{{item.total}}</td>
            <td>{{item.date | date : 'dd.MM.yyyy'}}</td>
            <td>
                <a href="#" class="btn btn-primary" ng-click="edit(item.id);"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger" ng-click="delete(item.id);"><i class="fa fa-close"></i></a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{filtered_items | sumTotal}}</b></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>


<script type="text/ng-template" id="edit.html">
    <div class="modal-header">
        <h3 class="modal-title">Редактирование эдемента</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="type">Тип</label>
                <select class="form-control" id="type" ng-model="item.type">
                    <option value="Зачисление">Зачисление</option>
                    <option value="Списание">Списание</option>
                </select>
            </div>
            <div class="form-group">
                <label for="category">Категория</label>
                <input type="text" class="form-control" id="category" ng-model="item.category"/>
            </div>
            <div class="form-group">
                <label for="total">Сумма</label>
                <input type="text" class="form-control" id="total" ng-model="item.total"/>
            </div>
            <div class="form-group">
                <label for="date">Дата</label>
                <input type="text" class="form-control" id="date" uib-datepicker-popup="{{format}}"
                       is-open="datePickerOpen" ng-model="item.date" datepicker-options="dateOptions"
                       close-text="Закрыть" current-text="Сегодня" clear-text="Очистить" ng-click="datePickerOpen = true" readonly/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()">Сохранить</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
    </div>
</script>

</body>
</html>